/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo da página */
body {
    width: 100vw;
    height: 100vh;
    background-color: #e6f2ff; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quadrado central */
.container {
    width: 40vw; 
    height: 60vh;  

    background-color: #ffffff;
    border-radius: 25px; /* cantos arredondados */
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.container h1,
.container p {
    color: #003366; 
    margin-bottom: 15px;
    text-align: center;
}

/* Botões */
button {
    background-color: #ffcc00; 
    color: #003366; 

    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
